.emoji-picker-react .emoji-categories button {
  height: 40px;
  width: 20px;
  padding: 5px 0;
  cursor: pointer;
  opacity: 0.3;
  color: black;
  transition: opacity 0.1s;
}

.emoji-picker-react .emoji-categories {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.emoji-picker-react .emoji-categories.inactive button,
.emoji-picker-react .emoji-categories.inactive button.active,
.emoji-picker-react .emoji-categories.inactive button:hover {
  opacity: 0.4;
  cursor: default;
}

.emoji-picker-react .emoji-categories button.active {
  opacity: 1;
}

.emoji-picker-react .emoji-categories button:hover {
  opacity: 0.7;
}
