@import '../base.scss';

.emoji-picker {
    background-color: $picker_bg;
    width: $picker_width + 5px;
    display: block;
    position: relative;
    padding: 0;
    border: 1px solid $md-grey-300;
    border-radius: 3px;
    overflow: hidden;
    box-sizing: border-box;
    font-family: sans-serif;


    .hidden {
        display: none!important;
        visibility: hidden!important;
        padding: 0!important;
        margin: 0!important;
    }

    a {
        outline: none;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
        }
    }

    .bar-wrapper {
        position: relative;
    }
}