@import '../base.scss';

.emoji-picker {
    background-color: $bg_picker;
    width: $width_picker + 5px;
    display: block;
    position: relative;
    padding: 0;
    border: 1px solid $border_emoji_picker;
    border-radius: 3px;
    overflow: hidden;
    font-family: sans-serif;

    .hidden {
        display: none!important;
        visibility: hidden!important;
        padding: 0!important;
        margin: 0!important;
    }

    a {
        outline: none;
        cursor: pointer;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
        }
    }

    .bar-wrapper {
        position: relative;
    }
}