.emoji-picker-react div.skin-tones-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute;
  top: 13px;
  right: 40px;
}

.emoji-picker-react div.skin-tones-list button {
  background-color: currentColor;
  position: absolute;
  border-radius: 2px;
  transition: transform 0.3s ease;
}
.emoji-picker-react div.skin-tones-list button:focus {
  border: 1px solid #a6a6a6;
  border-radius: 3px;
}

.emoji-picker-react div.skin-tones-list button {
  height: 10px;
  width: 10px;
  padding: 0;
  display: block;
}

.emoji-picker-react div.skin-tones-list button:focus {
  padding: 2px;
}

.emoji-picker-react div.skin-tones-list button#tneutral {
  color: #ffd225;
}
.emoji-picker-react div.skin-tones-list button#t1f3fb {
  color: #ffdfbd;
}
.emoji-picker-react div.skin-tones-list button#t1f3fc {
  color: #e9c197;
}
.emoji-picker-react div.skin-tones-list button#t1f3fd {
  color: #c88e62;
}
.emoji-picker-react div.skin-tones-list button#t1f3fe {
  color: #a86637;
}
.emoji-picker-react div.skin-tones-list button#t1f3ff {
  color: #60463a;
}
