@import '../base.scss';

.emoji-picker .emoji {
    display: none;
    border: 0;
    outline: none;
    border-radius: 5px;
    padding: 0;
    position: relative;

    i {
        height: $size_emoji;
        width: $size_emoji;
        display: inline-block;
        padding: $padding_emoji;
        background-size: $size_emoji;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        overflow: hidden;
        transition: background-color .2s;
    }

    &.shown {
        display: inline-block;
    }

    &:hover {
        background-color: $bg_emoji_hover;

        &.has-diversities:before {
            opacity: 1;
        }
    }

    &.has-diversities:before {
        content: '';
        position: absolute;
        background-color: $bg_diversity_indicator;
        display: block;
        top: 0;
        right: 0;
        opacity: 0;
        transition: opacity .2s;
    }
}