{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "impliedStrict": true,
            "experimentalObjectRestSpread": true
        }
    },
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "plugins": [
        "react"
    ],
    "globals": {
        "require": true,
        "react": true,
        "expect": true,
        "it": true,
        "describe": true
    },
    "rules": {
        "arrow-body-style": 2,
        "arrow-parens": 2,
        "arrow-spacing": 2,
        "no-duplicate-imports": 2,
        "no-template-curly-in-string": 2,
        "no-useless-computed-key": 2,
        "no-useless-constructor": 2,
        "no-useless-rename": 2,
        "no-var": 2,
        "object-shorthand": ["error", "properties"],
        "prefer-arrow-callback": 2,
        "prefer-const": 2,
        "prefer-spread": 2,
        "prefer-template": 2,
        "rest-spread-spacing": 2,
        "template-curly-spacing": 2,
        "eqeqeq": 2,
        "no-multi-spaces": [2, {"exceptions": { "VariableDeclarator": true, "Property": false }}],
        "comma-dangle": 2,
        "comma-spacing": 2,
        "comma-style": 2,
        "computed-property-spacing": 2,
        "dot-notation": 2,
        "func-call-spacing": 2,
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "jsx-quotes": 2,
        "keyword-spacing": 2,
        "lines-around-comment": ["error", {"beforeBlockComment": true, "allowBlockStart": true, "beforeLineComment": true}],
        "new-cap": 2,
        "no-lonely-if": 2,
        "no-case-declarations": 0,
        "no-multiple-empty-lines": 2,
        "no-trailing-spaces": 1,
        "no-unneeded-ternary": 2,
        "no-whitespace-before-property": 2,
        "quotes": ["error", "single", {"avoidEscape": true}],
        "semi-spacing": 2,
        "semi": 2,
        "space-before-function-paren": ["error", "never"],
        "space-in-parens": 2,
        "spaced-comment": ["error", "always"],
        "vars-on-top": 2,
        "radix": 2,
        "no-nested-ternary": 2,
        "one-var-declaration-per-line": 2,
        "no-unsafe-negation": 2,
        "array-callback-return": 2,
        "block-scoped-var": 2,
        "curly": 2,
        "default-case": 2,
        "no-caller": 2,
        "no-eval": 2,
        "no-floating-decimal": 2,
        "no-global-assign": 2,
        "no-implied-eval": 2,
        "no-loop-func": 2,
        "no-empty-function": 2,
        "no-extra-bind": 2,
        "no-sequences": 2,
        "no-useless-call": 2,
        "no-useless-escape": 2,
        "no-useless-return": 2,
        "no-with": 2,
        "wrap-iife": [2, "inside"],
        "consistent-this": 2,
        "react/no-children-prop": 2,
        "react/no-danger-with-children": 2,
        "react/no-deprecated": 2,
        "react/no-did-mount-set-state": 2,
        "react/no-did-update-set-state": 2,
        "react/no-direct-mutation-state": 2,
        "react/no-find-dom-node": 2,
        "react/no-is-mounted": 2,
        "react/no-render-return-value": 2,
        "react/no-string-refs": 2,
        "react/no-unescaped-entities": 2,
        "react/no-unknown-property": 2,
        "react/no-unused-prop-types": 2,
        "react/prefer-es6-class": 2,
        "react/prefer-stateless-function": 2,
        "react/sort-comp": 2,
        "react/jsx-closing-bracket-location": [2, "after-props"],
        "react/jsx-curly-spacing": 2,
        "react/jsx-equals-spacing": 2,
        "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
        "react/jsx-first-prop-new-line": [2, "never"],
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "react/jsx-key": 2,
        "react/jsx-no-bind": [2, {
            "ignoreRefs": true,
            "allowArrowFunctions": true
        }],
        "react/jsx-no-comment-textnodes": 2,
        "react/jsx-no-duplicate-props": 2,
        "react/jsx-no-undef": 2,
        "react/jsx-pascal-case": 2,
        "react/jsx-space-before-closing": [2, "never"],
        "react/jsx-uses-vars": 2,
        "react/jsx-wrap-multilines": 2
    }
}