@import '../base.scss';

.emoji-picker {

    ul.emoji-category {
        position: relative;
        padding: $category_name_height 0 0 0;
        margin: 0;
        text-align: left;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        li.category-name {
            background-color: rgba($picker_bg, .9);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
            display: block;
            padding: 5px;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: .1em;
            text-transform: uppercase;
            color: $md-grey-400;
            height: $category_name_height;
            box-sizing: border-box;
            transition: color .2s;
        }
    }

    &.people   .people.emoji-category   { position: initial; .category-name { color: $md-grey-500; } }
    &.food     .food.emoji-category     { position: initial; .category-name { color: $md-grey-500; } }
    &.nature   .nature.emoji-category   { position: initial; .category-name { color: $md-grey-500; } }
    &.activity .activity.emoji-category { position: initial; .category-name { color: $md-grey-500; } }
    &.objects  .objects.emoji-category  { position: initial; .category-name { color: $md-grey-500; } }
    &.travel   .travel.emoji-category   { position: initial; .category-name { color: $md-grey-500; } }
    &.flags    .flags.emoji-category    { position: initial; .category-name { color: $md-grey-500; } }
    &.regional .regional.emoji-category { position: initial; .category-name { color: $md-grey-500; } }
    &.symbols  .symbols.emoji-category  { position: initial; .category-name { color: $md-grey-500; } }
}