@import '../base.scss';

.emoji-picker {

    .emoji-category {
        position: relative;
        padding: $height_category_name $padding_emoji_list 0 $padding_emoji_list;
        margin: 0;
        text-align: left;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        .category-name {
            background-color: rgba($bg_category_name, $opacity_category_name);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 0;
            display: block;
            padding: 0 $padding_category_name;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: .1em;
            text-transform: uppercase;
            color: $md-grey-400;
            height: $height_category_name;
            line-height: $height_category_name;
            box-sizing: border-box;
            transition: color .2s;
        }
    }

    &.people   .people.emoji-category   { position: initial; .category-name { color: $md-grey-500; } }
    &.foods     .foods.emoji-category   { position: initial; .category-name { color: $md-grey-500; } }
    &.nature   .nature.emoji-category   { position: initial; .category-name { color: $md-grey-500; } }
    &.activity .activity.emoji-category { position: initial; .category-name { color: $md-grey-500; } }
    &.objects  .objects.emoji-category  { position: initial; .category-name { color: $md-grey-500; } }
    &.places   .places.emoji-category   { position: initial; .category-name { color: $md-grey-500; } }
    &.flags    .flags.emoji-category    { position: initial; .category-name { color: $md-grey-500; } }
    &.regional .regional.emoji-category { position: initial; .category-name { color: $md-grey-500; } }
    &.symbols  .symbols.emoji-category  { position: initial; .category-name { color: $md-grey-500; } }
}