@import '../base.scss';

.emoji-picker {

    ul.skin-tones {
        position: absolute;
        right: 0;


        &.spread {
            li {
                opacity: 1;
            }
        }

        li {
            position: absolute;
            top: $top_skin_tone;
            right: $right_skin_tone;
            z-index: 3;
            padding: 1px;
            border-radius: 3px;
            opacity: 0;
            transition: transform .4s, opacity .3s;

            &.selected {
                opacity: 1;
                transform: scale(1.5);
            }

            &.neutral a { background-color: $md-amber-200; }
            &.m1f3fb  a { background-color: $md-orange-100; }
            &.m1f3fc  a { background-color: $md-deep-orange-100; }
            &.m1f3fe  a { background-color: $md-brown-500; }
            &.m1f3ff  a { background-color: $md-brown-700; }
            &.m1f3fd  a { background-color: $light-brown-skin-tone; }

            a {
                display: block;
                height: $size_modifier;
                width: $size_modifier;
                border-radius: 2px;

                img {
                    z-index: 2;
                    height: $size_modifier;
                    width: $size_modifier;
                }
            }
        }
    }
}