.emoji-picker-react .emoji-categories button {
  height: 40px;
  width: 20px;
  padding: 5px 0;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 50% 50%;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.1s;
}

.emoji-picker-react .active-category-indicator-wrapper {
  position: relative;
  width: 100%;
}
.emoji-picker-react
  .active-category-indicator-wrapper
  .active-category-indicator {
  background: #99c2f1;
  height: 3px;
  width: 5px;
  position: absolute;
  bottom: 3px;
  border-radius: 5px;
  transition: 0.3s;
  width: 30px;
  left: -7px;
}

.emoji-picker-react .emoji-categories button.icn-activities {
  background-image: url(./svg/activities.svg);
}
.emoji-picker-react .emoji-categories button.icn-animals_nature {
  background-image: url(./svg/animals_nature.svg);
}
.emoji-picker-react .emoji-categories button.icn-flags {
  background-image: url(./svg/flags.svg);
}
.emoji-picker-react .emoji-categories button.icn-food_drink {
  background-image: url(./svg/food_drink.svg);
}
.emoji-picker-react .emoji-categories button.icn-objects {
  background-image: url(./svg/objects.svg);
}
.emoji-picker-react .emoji-categories button.icn-smileys_people {
  background-image: url(./svg/smileys_people.svg);
}
.emoji-picker-react .emoji-categories button.icn-symbols {
  background-image: url(./svg/symbols.svg);
}
.emoji-picker-react .emoji-categories button.icn-travel_places {
  background-image: url(./svg/travel_places.svg);
}

.emoji-picker-react .emoji-categories {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.emoji-picker-react .emoji-categories.inactive button,
.emoji-picker-react .emoji-categories.inactive button.active,
.emoji-picker-react .emoji-categories.inactive button:hover {
  opacity: 0.4;
  cursor: default;
}

.emoji-picker-react .emoji-categories button.active {
  opacity: 1;
}

.emoji-picker-react .emoji-categories button:hover {
  opacity: 0.7;
}
