@import '../base.scss';

.emoji-picker {
    .emoji-list {
        width: 100%;
        height: $picker_height;
        overflow-x: hidden;
        box-sizing: border-box;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            height: 0;
            width: 0;
        }
        &::scrollbar {
            height: 0;
            width: 0;
        }
    }
}