.EmojiPickerReact .epr-emoji-variation-picker {
  position: absolute;
  top: 100%;
  right: 20px;
  left: 20px;
  padding: 5px;
  z-index: 2;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  align-items: center;
  background: var(--epr-emoji-variation-picker-bg-color);
  justify-content: space-around;
}
