.EmojiPickerReact li.epr-emoji-category > .epr-emoji-category-label {
  position: sticky;
  top: 0;
  width: 100%;
  display: block;
  padding: 10px;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.7);
  font-weight: bold;
  color: #888;
  height: 40px;
  text-transform: uppercase;
}

.EmojiPickerReact li.epr-emoji-category {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 10px;
}

.EmojiPickerReact li.epr-emoji-category:after {
  content: '';
  display: inline-block;
  flex: 1;
}
