.EmojiPickerReact li.epr-emoji-category > .epr-emoji-category-label {
  position: sticky;
  top: 0;
  width: 100%;
  padding: var(--epr-category-label-padding);
  display: flex;
  align-items: center;
  background-color: var(--epr-category-label-background-color);
  font-weight: bold;
  color: var(--epr-category-label-text-color);
  height: var(--epr-category-label-height);
  text-transform: capitalize;
  z-index: 1;
}
.EmojiPickerReact.epr-search-active
  li.epr-emoji-category
  > .epr-emoji-category-label {
  display: none;
}

.EmojiPickerReact li.epr-emoji-category {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: var(--epr-category-padding);
  gap: var(--epr-emoji-gap);
}

.EmojiPickerReact li.epr-emoji-category:after {
  content: '';
  display: inline-block;
  flex: 1;
}
