.PickerControls {
  padding: 1em;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
  display: flex;
  flex-direction: column;
}

.PickerControls,
.Label {
  color: #858585;
}

.PickerControls button,
.Label button,
.Label input,
.Label select {
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f6f6f6;
  color: #858585;
}

.Label input,
.Label select {
  height: 25px;
}

.Label input {
  padding: 0 5px;
}

@media (prefers-color-scheme: dark) {
  .PickerControls {
    background-color: #222;
    border: 1px solid #151617;
  }

  .Label,
  .PickerControls {
    color: #c0c0c0;
  }

  .PickerControls button,
  .Label button,
  .Label input,
  .Label select {
    background-color: #333;
    color: #c0c0c0;
  }
}

.Label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 0.5em;
}

.spacer {
  flex-grow: 1;
}

.ButtonReset {
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  display: block;
  width: 100%;
  border: none;
  transition: background-color 0.2s ease-in-out;
}

.ButtonReset:hover {
  background-color: #e7e7e7;
}
