.emoji-picker .search-bar {
  height: 35px;
  margin-top: 0;
  line-height: 35px;
  position: relative;
  z-index: 2;
  left: 0;
  box-shadow: 0 1px 5px -2px #9e9e9e; }
  .emoji-picker .search-bar:before {
    content: '';
    height: 15px;
    width: 15px;
    position: absolute;
    left: 10px;
    top: 10px;
    display: block;
    background-repeat: no-repeat;
    background-image: url("/png/1f50d.png");
    background-position: 50% 50%;
    background-size: 15px 15px; }
  .emoji-picker .search-bar input {
    padding: 5px 5px 5px 35px;
    box-sizing: border-box;
    color: #9e9e9e;
    width: 100%;
    height: 100%;
    border: 0;
    outline: none; }
    .emoji-picker .search-bar input::placeholder {
      color: #e0e0e0; }
