@import '../base.scss';

.emoji-picker {
    .search-bar {
        height: $height_search_bar;
        margin-top: 0;
        padding: $padding_search_bar;
        position: relative;
        z-index: 2;
        left: 0;
        box-sizing: border-box;

        input {
            padding: 5px 5px 5px 35px;
            margin: 0;
            box-sizing: border-box;
            color: $color_filter_input;
            width: 100%;
            outline: none;
            border: 1px solid $border_filter;
            border-radius: 5px;
            transition: border .2s;

            &::placeholder {
                color: $color_filter_placeholder;
            }

            &:focus {
                border: 1px solid $border_filter_focus;

                + i:before {
                    opacity: 1;
                }
            }

        }

        i:before {
            content: '';
            background-repeat: no-repeat;
            background-image: url($bg_img_find);
            background-position: 50% 50%;
            background-size: 15px 15px;
            height: 15px;
            width: 15px;
            position: absolute;
            left: $left_magnifier;
            top: $top_magnifier;
            display: block;
            opacity: .3;
            transition: opacity .2s;
        }
    }
}