@import '../base.scss';

.emoji-picker {
    .wrapper {
        position: relative;
        overflow: hidden;

        &.no-results {
            &:before {
                content: '';
                background-repeat: no-repeat;
                background-image: url($bg_img_find);
                background-position: 50% 50%;
                background-size: 100px 100px;
                display: block;
                width: 100px;
                height: 100px;
                position: absolute;
                top: 50%;
                left: 50%;
                opacity: .07;
                transform: translateX(-50%) translateY(-50%);
            }

            .emoji-name {
                display: none;
            }
        }

        &:after {
            content: '';
            background-color: $bg_footer;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: $height_footer;
        }

        .scroller {
            display: block;
            position: absolute;
            width: 5px;
            padding-top: 5px;
            z-index: 2;
            right: 3px;
            box-sizing: border-box;
            opacity: 0;
            transition: opacity .2s;

            &.shown {
                opacity: 1;
            }

            div {
                background-color: $bg_scroller;
                width: 100%;
                min-height: 12px;
            }
        }

        .emoji-name {
            position: absolute;
            right: $padding_category_name;
            top: 8px;
            font-size: 10px;
            font-weight: 100;
            z-index: 2;
            color: $color_shortname;
            max-width: 130px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}