@import '../base.scss';

.emoji-picker {

    ul.emoji-group {
        position: relative;
        padding: $group_name_height 0 0 0;
        margin: 0;
        text-align: left;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;

        li.group-name {
            background-color: rgba($picker_bg, .9);
            box-shadow: 0 0 4px 2px $picker_bg;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1;
            display: block;
            padding: 5px;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: .1em;
            text-transform: uppercase;
            color: $md-grey-400;
            height: $group_name_height;
            box-sizing: border-box;
            transition: color .2s;
        }
    }

    &.people   .people.emoji-group   { position: initial; .group-name { color: $md-grey-500; } }
    &.food     .food.emoji-group     { position: initial; .group-name { color: $md-grey-500; } }
    &.nature   .nature.emoji-group   { position: initial; .group-name { color: $md-grey-500; } }
    &.activity .activity.emoji-group { position: initial; .group-name { color: $md-grey-500; } }
    &.objects  .objects.emoji-group  { position: initial; .group-name { color: $md-grey-500; } }
    &.travel   .travel.emoji-group   { position: initial; .group-name { color: $md-grey-500; } }
    &.flags    .flags.emoji-group    { position: initial; .group-name { color: $md-grey-500; } }
    &.regional .regional.emoji-group { position: initial; .group-name { color: $md-grey-500; } }
    &.symbols  .symbols.emoji-group  { position: initial; .group-name { color: $md-grey-500; } }
}