aside.EmojiPickerReact.epr-main:has(input:not(:placeholder-shown))
  .epr-category-nav {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.EmojiPickerReact.epr-search-active .epr-category-nav {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
aside.EmojiPickerReact.epr-main:has(input:not(:placeholder-shown))
  .epr-category-nav {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
.EmojiPickerReact.epr-search-active .epr-category-nav {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}
aside.EmojiPickerReact.epr-main:has(input:not(:placeholder-shown))
  .epr-category-nav
  > button.epr-cat-btn:hover {
  opacity: 1;
  background-position-y: var(--epr-category-navigation-button-size);
}
.EmojiPickerReact:not(.epr-search-active)
  .epr-category-nav
  > button.epr-cat-btn:hover,
.EmojiPickerReact:not(.epr-search-active)
  .epr-category-nav
  > button.epr-cat-btn.epr-active {
  opacity: 1;
  background-position-y: var(--epr-category-navigation-button-size);
}
.EmojiPickerReact .epr-category-nav > button.epr-cat-btn {
  background-image: svg-load(./svg/CategoryNav.svg);
  background-position: 0 0;
}

.EmojiPickerReact.epr-dark-theme .epr-category-nav > button.epr-cat-btn {
  background-position-y: calc(var(--epr-category-navigation-button-size) * 2);
}

aside.EmojiPickerReact.epr-main:has(input:placeholder-shown) .epr-category-nav {
  background-position-y: calc(var(--epr-category-navigation-button-size) * 3);
}
.EmojiPickerReact.epr-dark-theme:not(.epr-search-active)
  .epr-category-nav
  > button.epr-cat-btn:hover,
.EmojiPickerReact.epr-dark-theme:not(.epr-search-active)
  .epr-category-nav
  > button.epr-cat-btn.epr-active {
  background-position-y: calc(var(--epr-category-navigation-button-size) * 3);
}

@media (prefers-color-scheme: dark) {
  .EmojiPickerReact.epr-auto-theme .epr-category-nav > button.epr-cat-btn {
    background-position-y: calc(var(--epr-category-navigation-button-size) * 2);
  }
  .EmojiPickerReact.epr-auto-theme:not(.epr-search-active)
    .epr-category-nav
    > button.epr-cat-btn:hover,
  .EmojiPickerReact.epr-auto-theme:not(.epr-search-active)
    .epr-category-nav
    > button.epr-cat-btn.epr-active {
    background-position-y: calc(var(--epr-category-navigation-button-size) * 3);
  }
}

.EmojiPickerReact button.epr-cat-btn.epr-icn-suggested {
  background-position-x: calc(var(--epr-category-navigation-button-size) * -8);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-custom {
  background-position-x: calc(var(--epr-category-navigation-button-size) * -9);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-activities {
  background-position-x: calc(var(--epr-category-navigation-button-size) * -4);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-animals_nature {
  background-position-x: calc(var(--epr-category-navigation-button-size) * -1);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-flags {
  background-position-x: calc(var(--epr-category-navigation-button-size) * -7);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-food_drink {
  background-position-x: calc(var(--epr-category-navigation-button-size) * -2);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-objects {
  background-position-x: calc(var(--epr-category-navigation-button-size) * -5);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-smileys_people {
  background-position-x: 0px;
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-symbols {
  background-position-x: calc(var(--epr-category-navigation-button-size) * -6);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-travel_places {
  background-position-x: calc(var(--epr-category-navigation-button-size) * -3);
}
