.emoji-picker-react ul.skin-tones-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: absolute;
  top: 13px;
  right: 40px;
}

.emoji-picker-react ul.skin-tones-list li {
  background-color: currentColor;
  position: absolute;
  padding: 0;
  border-radius: 2px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.emoji-picker-react ul.skin-tones-list label {
  height: 10px;
  width: 10px;
  padding: 0;
  display: block;
  cursor: pointer;
}

.emoji-picker-react ul.skin-tones-list input {
  height: 0;
  width: 0;
  opacity: 0;
  visibility: hidden;
  display: none;
}

.emoji-picker-react ul.skin-tones-list li.tneutral {
  color: #ffd225;
}
.emoji-picker-react ul.skin-tones-list li.t1f3fb {
  color: #ffdfbd;
}
.emoji-picker-react ul.skin-tones-list li.t1f3fc {
  color: #e9c197;
}
.emoji-picker-react ul.skin-tones-list li.t1f3fd {
  color: #c88e62;
}
.emoji-picker-react ul.skin-tones-list li.t1f3fe {
  color: #a86637;
}
.emoji-picker-react ul.skin-tones-list li.t1f3ff {
  color: #60463a;
}
