.EmojiPickerReact .epr-category-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px 0;
}

.EmojiPickerReact .epr-category-nav > button.epr-cat-btn {
  display: inline-block;
  height: 20px;
  width: 20px;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  position: relative;
}

.EmojiPickerReact.epr-search-active .epr-category-nav > button.epr-cat-btn,
.EmojiPickerReact.epr-search-active
  .epr-category-nav
  > button.epr-cat-btn:hover,
.EmojiPickerReact.epr-search-active
  .epr-category-nav
  > button.epr-cat-btn.active {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.EmojiPickerReact.epr-search-active
  .epr-category-nav
  > button.epr-cat-btn.active:after {
  display: none;
}

.EmojiPickerReact .epr-category-nav > button.epr-cat-btn:hover,
.EmojiPickerReact .epr-category-nav > button.epr-cat-btn.active {
  opacity: 1;
}

.EmojiPickerReact .epr-category-nav > button.epr-cat-btn.active:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 3px;
  background-color: #6396ff;
  border-radius: 5px;
}

.EmojiPickerReact button.epr-cat-btn.epr-icn-activities {
  background-image: url(./svg/activities.svg);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-animals_nature {
  background-image: url(./svg/animals_nature.svg);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-flags {
  background-image: url(./svg/flags.svg);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-food_drink {
  background-image: url(./svg/food_drink.svg);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-objects {
  background-image: url(./svg/objects.svg);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-smileys_people {
  background-image: url(./svg/smileys_people.svg);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-symbols {
  background-image: url(./svg/symbols.svg);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-travel_places {
  background-image: url(./svg/travel_places.svg);
}
