.EmojiPickerReact .epr-category-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
}

.EmojiPickerReact .epr-category-nav > button.epr-cat-btn {
  display: inline-block;
  height: 20px;
  width: 20px;
}

.EmojiPickerReact button.epr-cat-btn.epr-icn-activities {
  background-image: url(./svg/activities.svg);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-animals_nature {
  background-image: url(./svg/animals_nature.svg);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-flags {
  background-image: url(./svg/flags.svg);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-food_drink {
  background-image: url(./svg/food_drink.svg);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-objects {
  background-image: url(./svg/objects.svg);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-smileys_people {
  background-image: url(./svg/smileys_people.svg);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-symbols {
  background-image: url(./svg/symbols.svg);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-travel_places {
  background-image: url(./svg/travel_places.svg);
}
