.EmojiPickerReact header.epr-header {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  z-index: 1;
  backdrop-filter: blur(10px);
}
