.EmojiPickerReact .epr-search-container {

}

.EmojiPickerReact .epr-search-container .epr-status-visually-hidden {

}

.EmojiPickerReact .epr-search-container input.epr-search {

}

.EmojiPickerReact
  .epr-search-container
  button.epr-btn-clear-search
  .epr-icn-clear-search {

}

.EmojiPickerReact .epr-search-container button.epr-btn-clear-search {

}

.EmojiPickerReact
  .epr-search-container
  button.epr-btn-clear-search:hover
  .epr-icn-clear-search,
.EmojiPickerReact
  .epr-search-container
  button.epr-btn-clear-search:focus
  .epr-icn-clear-search {
  backgroundPositionY: '-20px',
}

.EmojiPickerReact .epr-search-container button.epr-btn-clear-search:hover,
.EmojiPickerReact .epr-search-container button.epr-btn-clear-search:focus {
}

.EmojiPickerReact.epr-dark-theme
  .epr-search-container
  button.epr-btn-clear-search
  .epr-icn-clear-search {
  /* backgroundPositionY: '-40px', */
}

.EmojiPickerReact.epr-dark-theme
  .epr-search-container
  button.epr-btn-clear-search:hover
  .epr-icn-clear-search {
  /* backgroundPositionY: '-60px', */
}

/* mediaPrefersColorScheme: 'dark) ',
  .EmojiPickerReact.epr-auto-theme
    .epr-search-container
    button.epr-btn-clear-search
    .epr-icn-clear-search {
    backgroundPositionY: '-40px',
  } */

  /* .EmojiPickerReact.epr-auto-theme
    .epr-search-container
    button.epr-btn-clear-search:hover
    .epr-icn-clear-search {
    backgroundPositionY: '-60px',
  }
} */

.EmojiPickerReact .epr-search-container .epr-icn-search {

}

/* .EmojiPickerReact.epr-dark-theme .epr-search-container .epr-icn-search {
  backgroundPositionY: '-20px',
}

mediaPrefersColorScheme: 'dark) ',
  .EmojiPickerReact.epr-auto-theme .epr-search-container .epr-icn-search {
    backgroundPositionY: '-20px',
  }
} */

.EmojiPickerReact .epr-search-container input.epr-search {

}

/* .EmojiPickerReact .epr-search-container input.epr-search */
