.EmojiPickerReact button.epr-emoji {
  position: relative;
  padding: var(--epr-emoji-padding);
  display: flex;
}

.EmojiPickerReact button.epr-emoji.epr-emoji-has-variations:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  right: -2px;
  bottom: 0px;
  position: absolute;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  transform: rotate(135deg);
  z-index: var(--epr-emoji-variations-indictator-z-index);
}

.EmojiPickerReact button.epr-emoji.epr-emoji-has-variations:hover:after {
  border-bottom: 4px solid rgba(0, 0, 0, 0.4);
}

.EmojiPickerReact button.epr-emoji > .epr-emoji-img {
  height: var(--epr-emoji-size);
  width: var(--epr-emoji-size);
}

.EmojiPickerReact button.epr-emoji > .epr-emoji-native {
  height: var(--epr-emoji-size);
  width: var(--epr-emoji-size);
  font-size: var(--epr-emoji-size);
  font-family: 'Noto Color Emoji', 'Apple Color Emoji', 'Segoe UI Emoji', Times,
    Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
  line-height: 100%;
}

.EmojiPickerReact button.epr-emoji:hover {
  border-radius: 8px;
  background-color: var(--epr-emoji-hover-bg-color);
}

.EmojiPickerReact button.epr-emoji.hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
