.emoji-picker-react .variation-wrapper {
  position: relative;
}

.emoji-picker-react .variation-list {
  background: #f4f4f4;
  border-bottom: 1px solid #efefef;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  transition: transform 0.1s;
  transform: translateY(-100%);
}

.emoji-picker-react .variation-list.visible {
  transform: translateY(0);
}

.emoji-picker-react .variation-list button {
  display: flex;
}

.emoji-picker-react .variation-list button {
  border-radius: 5px;
  transition: background 0.1s;
  background: none;
  padding: 0;
}

.emoji-picker-react .variation-list button:hover {
  background-color: #dbdbdb;
}
