.EmojiPickerReact .epr-category-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: var(--epr-header-padding);
}

.EmojiPickerReact .epr-category-nav > button.epr-cat-btn {
  display: inline-block;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  position: relative;
  height: var(--epr-category-navigation-button-size);
  width: var(--epr-category-navigation-button-size);
}

.EmojiPickerReact.epr-search-active .epr-category-nav > button.epr-cat-btn,
.EmojiPickerReact.epr-search-active
  .epr-category-nav
  > button.epr-cat-btn:hover,
.EmojiPickerReact.epr-search-active
  .epr-category-nav
  > button.epr-cat-btn.active {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.EmojiPickerReact.epr-search-active
  .epr-category-nav
  > button.epr-cat-btn.active:after {
  display: none;
}

.EmojiPickerReact .epr-category-nav > button.epr-cat-btn:hover,
.EmojiPickerReact .epr-category-nav > button.epr-cat-btn.active {
  opacity: 1;
}

.EmojiPickerReact .epr-category-nav > button.epr-cat-btn.active:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 3px;
  border-radius: 5px;
  background-color: var(--epr-active-category-indicator-color);
}

.EmojiPickerReact button.epr-cat-btn.epr-icn-recently_used {
  background-image: svg-load(./svg/objects.svg);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-activities {
  background-image: svg-load(./svg/activities.svg);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-animals_nature {
  background-image: svg-load(./svg/animals_nature.svg);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-flags {
  background-image: svg-load(./svg/flags.svg);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-food_drink {
  background-image: svg-load(./svg/food_drink.svg);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-objects {
  background-image: svg-load(./svg/objects.svg);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-smileys_people {
  background-image: svg-load(./svg/smileys_people.svg);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-symbols {
  background-image: svg-load(./svg/symbols.svg);
}
.EmojiPickerReact button.epr-cat-btn.epr-icn-travel_places {
  background-image: svg-load(./svg/travel_places.svg);
}
