.EmojiPickerReact .epr-preview {
  padding: 10px;
  box-shadow: 0 -1px 5px #e1e1e1;
  align-items: center;
  height: var(--epr-preview-height);
}

.EmojiPickerReact .epr-preview .epr-preview-emoji-label {
  color: var(--epr-preview-text-color);
  font-size: var(--epr-preview-text-size);
  padding: var(--epr-preview-text-padding);
}
