.emoji-picker-react .emoji {
  position: relative;
}

.emoji-picker-react .emoji.has-skin-variation button:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  right: -2px;
  bottom: 0px;
  position: absolute;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
  transform: rotate(135deg);
  z-index: 1;
}

.emoji-picker-react .emoji.has-skin-variation button:hover:before,
.emoji-picker-react .emoji.has-skin-variation button:focus-visible:before {
  border-bottom: 4px solid rgba(0, 0, 0, 0.4);
}

.emoji-picker-react .emoji button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  border-radius: 5px;
  transition: 0.1s background;
  padding: 0;
  margin: 0;
}

.emoji-picker-react .emoji button:hover,
.emoji-picker-react .emoji button:focus-visible {
  background-color: currentColor;
}
