@import '../base.scss';

.emoji-picker .diversity-picker {
    background-color: $bg_diversity_picker;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    right: 0;
    height: $height_diversity_picker;
    transform: translateY(-$height_diversity_picker);
    opacity: .6;
    transition: .2s opacity, .2s transform;

    &.shown {
        transform: translateY(0);
        opacity: 1;
        border-bottom: 1px solid $border_diversity_picker;
    }

    .emoji {
        display: inline-block;
    }
}