@import '../base.scss';

.emoji-picker .diversity-picker {
    background-color: $md-grey-200;
    display: flex;
    justify-content: space-around;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    right: 0;
    height: $diversity_picker_size;
    transform: translateY(-$diversity_picker_size);
    opacity: .6;
    border-bottom: 1px solid $md-grey-300;
    transition: .2s opacity, .2s transform;

    &.shown {
        transform: translateY(0);
        opacity: 1;
    }
}