@import './colors.scss';
$picker_width: 240px;
$picker_height: 240px;
$nav_item_size: 35px;
$emoji_size: 20px;
$emoji_pad: 7px;
$hover_color: $md-blue-100;
$picker_bg: $md-grey-50;
$category_name_height: 25px;
$footer_height: 30px;
$footer_bg: $md-grey-200;
$nav_bg: $md-grey-200;
$shortname-color: $md-grey-500;
$modifier_size: 15px;
$search_bar_height: 35px;