.EmojiPickerReact {
  --highlight-color: #007aeb;
  --hover-backdrop-color: #f1f8ff;
  --text-color-base: #858585;
  --epr-header-height: 70px;
  --epr-picker-width: 350px;
  --epr-picker-height: 500px;
  --epr-emoji-size: 33px;
  --epr-category-navigation-button-size: 20px;
  --epr-emoji-variation-picker-bg-color: rgba(245, 245, 245, 0.7);
  --epr-emoji-variation-picker-height: 55px;
  --epr-preview-height: 70px;
  --epr-preview-text-color: var(--text-color-base);
  --epr-preview-text-size: 14px;
  --epr-preview-text-padding: 0 10px;
  --epr-search-bar-bg-color: #f6f6f6;
  --epr-active-category-indicator-color: var(--highlight-color);
  --epr-active-skin-tone-indicator-border-color: var(--highlight-color);
  --epr-search-outline: var(--highlight-color);
  --epr-active-skin-hover-color: var(--hover-backdrop-color);
  --epr-emoji-hover-olor: var(--hover-backdrop-color);
  --epr-category-label-text-color: var(--text-color-base);
  --epr-category-label-background-color: #ffffffe6;
  --epr-emoji-padding: 5px;
  --epr-header-padding: 15px 10px;
  --epr-emoji-gap: 4px;
  --epr-category-padding: 0 10px;
  --epr-search-input-padding: 0 20px;
  --epr-search-input-border-radius: 8px;
  --epr-search-input-height: 40px;
  --epr-category-label-padding: 0 10px;
  --epr-category-label-height: 40px;

  --epr-header-overlay-z-index: 3;
  --epr-emoji-variations-indictator-z-index: 1;
  --epr-category-label-z-index: 2;
  --epr-skin-variation-picker-z-index: 5;

  --epr-picker-border-radius: 8px;
  --epr-search-bar-text-color: #1e1e1e;
  --epr-search-bar-placeholder-color: #2e2e2e;
  --epr-picker-border-color: #e7e7e7;
  --epr-background-color: #fff;
  --epr-preview-border-color: var(--epr-picker-border-color);
  --epr-search-bar-bg-color-active: var(--epr-search-bar-bg-color);
  --epr-emoji-variation-indicator-color: rgba(0, 0, 0, 0.1);
  --epr-emoji-variation-indicator-color-hover: rgba(0, 0, 0, 0.4);
}

.EmojiPickerReact.epr-dark-theme {
  --highlight-color: #2877c1;
  --hover-backdrop-color: #363636f6;
  --text-color-base: #cacaca;
  --epr-emoji-variation-picker-bg-color: var(--hover-backdrop-color);
  --epr-preview-text-color: var(--text-color-base);
  --epr-category-label-text-color: var(--text-color-base);
  --epr-search-bar-bg-color: #404040;
  --epr-search-bar-text-color: #f1ffff;
  --epr-search-bar-placeholder-color: #c9c9c9;
  --epr-active-skin-hover-color: var(--hover-backdrop-color);
  --epr-emoji-hover-olor: var(--hover-backdrop-color);
  --epr-category-label-background-color: #21252fe6;
  --epr-picker-border-color: #151617;
  --epr-background-color: #21252f;
  --epr-search-bar-bg-color-active: #262b3c;
  --epr-emoji-variation-indicator-color: rgba(255, 255, 255, 0.1);
  --epr-emoji-variation-indicator-color-hover: rgba(255, 255, 255, 0.4);
}

.EmojiPickerReact {
  background-color: var(--epr-background-color);
  overflow: hidden;
}

.EmojiPickerReact .hidden {
  display: none !important;
  opacity: 0 !important;
  pointer-events: none !important;
  visibility: hidden !important;
}

.EmojiPickerReact * {
  box-sizing: border-box;
  font-family: sans-serif;
}

.EmojiPickerReact button {
  cursor: pointer;
  border: 0;
  background: none;
}
