.emoji-picker-react img.emoji-img {
  height: 25px;
  width: 25px;
  margin: 5px;
}

.emoji-picker-react .native {
  height: 25px;
  width: 25px;
  margin: 5px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Noto Color Emoji', 'Apple Color Emoji', 'Segoe UI Emoji', Times,
    Symbola, Aegyptus, Code2000, Code2001, Code2002, Musica, serif, LastResort;
}
